html {
  background-color: #efede8;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
  margin-top: 0 !important;
}
#absolute-wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
  height: 1px;
}
#absolute-wrapper .rectangle.rectangle-1 {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#absolute-wrapper .rectangle.rectangle-2 {
  border-radius: 0px 0px 2px 2px;
}
#absolute-wrapper .rectangle.rectangle-3 {
  border: none;
}
#absolute-wrapper .rectangle {
  position: absolute;
}
#absolute-wrapper .rectangle.rectangle-4 {
  border-radius: 0px;
}
#absolute-wrapper .rectangle.rectangle-5 {
  background: rgba(255, 255, 255, 0.726563);
  width: 1059px;
  height: 65px;
  top: -5px;
  left: 0px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-5 .heading {
  font-family:"oswald";
  font-weight: normal;
  font-size: 23px;
  width: 300px;
  height: 42px;
  position: absolute;
  top: 17px;
  left: 129px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-5 .nav {
  width: 551px;
  height: 46px;
  position: absolute;
  top: 19px;
  left: 409px;
}
#absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6 {
  background: #ffffff;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.148438);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.148438);
  -o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.148438);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.148438);
  width: 60px;
  height: 68px;
  top: -2px;
  left: 55px;
}
#absolute-wrapper .rectangle.rectangle-2.rectangle-3.rectangle-6 .image {
  border-radius: 0px;
  opacity: 0.8999999761581421;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  width: 30px;
  height: 40px;
  position: absolute;
  top: 14px;
  left: 15px;
}
#absolute-wrapper .dom-body-text.paragraph {
  position: absolute;
}
#absolute-wrapper .dom-body-text.paragraph.paragraph-1 {
  left: 55px;
}
#absolute-wrapper .dom-body-text.paragraph.paragraph-2 {
  width: 940px;
  height: 58px;
  top: 86px;
}
#absolute-wrapper .dom-body-text.paragraph.paragraph-1.paragraph-2 p {
  font-family:"droid sans";
  font-size: 30px;
  text-align: center;
  line-height: 29px;
}
#absolute-wrapper .dom-body-text.paragraph.paragraph-1.paragraph-2 p b.b-1 {
  font-size: 14pt;
}
#absolute-wrapper .dom-body-text.paragraph.paragraph-1.paragraph-2 p font span {
  font-size: 19px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-3.rectangle-4 {
  background: #68bea7;
  width: 1114px;
  height: 170px;
  top: 178px;
  left: -47px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-3.rectangle-4 .dom-body-text.paragraph {
  width: 789px;
  height: 60px;
  top: 32px;
  left: 138px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-3.rectangle-4 .dom-body-text.paragraph p {
  font-family:"droid sans";
  font-size: 15px;
  color: #ffffff;
  line-height: 25px;
}
#absolute-wrapper .heading {
  font-family:"oswald";
  font-weight: normal;
  width: 300px;
  height: 42px;
  position: absolute;
}
#absolute-wrapper .heading.heading-1 {
  font-size: 31px;
}
#absolute-wrapper .heading.heading-2 {
  top: 396px;
  left: 55px;
}
#absolute-wrapper .dom-body-text.paragraph.paragraph-1.paragraph-3 {
  width: 460px;
  height: 139px;
  top: 451px;
}
#absolute-wrapper .dom-body-text.paragraph.paragraph-1.paragraph-3 p {
  font-family:"droid sans";
  font-size: 16px;
  line-height: 25px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-4.rectangle-7 {
  background: #f5faff;
  border: 1px solid #dedcd7;
  width: 1078px;
  height: 323px;
  top: 640px;
  left: -24px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-4.rectangle-7 .image {
  width: 500px;
  height: 232px;
  position: absolute;
  top: 41px;
  left: 66px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-4.rectangle-7 .heading-1 {
  top: 69px;
  left: 649px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-4.rectangle-7 .dom-body-text.paragraph {
  width: 331px;
  height: 148px;
  top: 125px;
  left: 649px;
}
#absolute-wrapper .rectangle.rectangle-1.rectangle-4.rectangle-7 .dom-body-text.paragraph ul {
  font-family:"droid sans";
  font-size: 16px;
  line-height: 25px;
}
.container.container-1 {
  padding: 40px 0px 30px 0px;
}
.container.container-2 {
  margin-top: 965px;
}
.container-1.container-2 .row-fluid .span12 {
  padding: 10px 0px 0px 0px;
}
.container-1.container-2 .row-fluid .span12 .heading {
  font-family:"oswald";
  font-weight: normal;
  font-size: 31px;
}
.container-1.container-2 .row-fluid .span12 p {
  font-family:"droid sans";
  font-size: 16px;
  line-height: 25px;
}
.container-fluid.container-fluid-1 {
  background: #f5faff;
}
.container-fluid-1 .container-1 .row-fluid .span12 {
  padding: 40px 0px 0px 0px;
}
.container-fluid-1 .container-1 .row-fluid .span12 .heading {
  font-family:"oswald";
  font-weight: normal;
  font-size: 31px;
}
.container-fluid-1 .container-1 .row-fluid .span12 p {
  font-family:"droid sans";
  font-size: 16px;
  line-height: 25px;
}
.container .row-fluid.row-fluid-1 {
  padding: 0px 0px 30px 0px;
}
.container .row-fluid-1 .span12 {
  padding: 33px 0px 0px 0px;
}
.container .row-fluid-1 .span12 .heading {
  font-family:"oswald";
  font-weight: normal;
  font-size: 31px;
}
.container .row-fluid-1 .span12 p {
  font-family:"droid sans";
  font-size: 16px;
  line-height: 25px;
}
.container-fluid.container-fluid-2 {
  background: #363738;
  padding: 20px;
}
.container-fluid-2 .row-fluid .span12 .image {
  border-radius: 0px;
  margin: 0px;
  opacity: 0.20000000298023224;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.container-fluid-2 .row-fluid .span12 p {
  padding: 10px 0px 0px 0px;
  font-family:"droid sans";
  font-size: 15px;
  color: #ffffff;
  line-height: 19px;
}